<%=error_messages_for(f.object)%>

<fieldset>
	<div class="form-group">
		<%= f.label :title, :required=>true,:style =>"display:none;" %>
		<div class="col-sm-12">
			<%= f.text_field :title, :class => "full-width form-control",:placeholder=>"Enter title here" %>		
		</div>
	</div>
</fieldset>
	
<div style="formtab clearfix">
	<div class="form-group">
		<div class="col-sm-12">
			<%=f.select :content_format,Spud::Core.renderers.collect { |k,v| [v[:description] || k, k]}, {:include_blank => false}, :class => "pull-right", "data-formatter" => "spud_post_content"%>
		</div>
	</div>
	<%= f.text_area :content,:style => "width:100%;", :class => 'spud-formatted-editor full-width', "data-format" => f.object.content_format %>
</div>

<% if Spud::Blog.config.has_custom_fields %>
<fieldset>
	<legend>Custom Fields</legend>
	<%= render :partial => '/spud/admin/posts/custom_fields', :locals => {:f => f} %>
</fieldset>
<% end %>

<fieldset class="spud_post_form_fieldset">
	<legend>Advanced</legend>

		<div class="col-sm-6">
			<div class="form-horizontal">
			<h4>Meta Data</h4>

			<div class="form-group">
				<%= f.label :published_at, 'Publish Date', :class => "control-label col-sm-4" %>
				<div class="col-sm-8">
					<%= f.text_field :published_at,:value => f.object.published_at.strftime("%Y-%m-%d %H:%M") , :class => 'spud_form_date_picker form-control' %>
					<span class="time_select">
						<%= f.time_select :published_at, :ignore_date => true,:ampm => true%>
					</span>	
				</div>
				
			</div>

			<% if @current_user.super_admin %>
				<div class="form-group">
					<%= f.label :spud_user_id, 'Author', :class => "control-label col-sm-4" %>
					<div class="col-sm-8">
						<%= f.select :spud_user_id,options_for_select(SpudUser.order(:first_name,:last_name,:login).all.collect{|user| [user.full_name,user.id]},f.object.spud_user_id), :class => "form-control"%>	
					</div>
					
				</div>
			<% else %>
				<%= f.hidden_field :spud_user_id %>
			<% end %>

			<% if Spud::Core.config.multisite_mode_enabled %>
				<div class="form-group">
					<%= f.label :sites, 'Websites to Publish', :class => "control-label col-sm-4" %>
					<div class="spud_post_form_input_group col-sm-8">
						<%= spud_post_site_check_box_tag(Spud::Core.default_site_config, @post) %>
						<%= spud_post_site_label_tag(Spud::Core.default_site_config) %>
						<% Spud::Core.config.multisite_config.each do |site| %>
							<%= spud_post_site_check_box_tag(site, @post) %>
							<%= spud_post_site_label_tag(site) %>
						<% end %>
					</div>
				</div>
			<% end %>

			<div class="form-group">
				<%= f.label :visible, :class => "control-label col-sm-4" %>
				<div class="col-sm-8">
					<label class="radio-inline">
						<%= f.radio_button :visible, true %> Yes
					</label>
					<label class="radio-inline">
						<%= f.radio_button :visible, false %> No	
					</label>
				</div>
			</div>

			<% unless @post.is_news %>
				<div class="form-group">
					<%= f.label :comments_enabled,"Comments Enabled", :class => "control-label col-sm-4" %>
					<div class="col-sm-8">
						<label class="radio-inline">
							<%= f.radio_button :comments_enabled, true %> Yes
						</label>
						<label class="radio-inline">
							<%= f.radio_button :comments_enabled, false %> No	
						</label>
					</div>
				</div>
			<% end %>

			<div class="form-group">
				<%= f.label :meta_keywords, 'Keywords', :class => "control-label col-sm-4" %>
				<div class="col-sm-8">
					<%= f.text_field :meta_keywords, :class => "form-control" %>
					<span class="spud_post_form_help_block">A Comma seperated list of keywords for search engines. Keep it short (no more than 10 keywords)</span>	
				</div>
				
			</div>

			<div class="form-group">
				<%= f.label :meta_description, 'Description', :class => "control-label col-sm-4" %>
				<div class="col-sm-8">
					<%= f.text_area :meta_description, :class => "form-control" %>
					<span class="spud_post_form_help_block">A short description of the article. This is what appears on a search engines search result page.</span>	
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<h4>Categories</h4>
		<%= link_to 'Add Category', new_spud_admin_post_category_path, :class => 'btn btn-sm btn-success spud_post_add_category' %>
		<input type="hidden" name="spud_post[category_ids][]" value="" />
		<ul class="spud_post_categories_form">
			<%= render :partial => '/spud/admin/posts/category', :collection => @categories[nil] %>
		</ul>
	</div>

</fieldset>
<%= f.hidden_field :is_news %>

<div class="col-sm-6 col-sm-offset-2">
	<%=f.submit "Save Post", :class=>"btn btn-primary form-btn","data-loading-text"=>"Saving..."%> or <%=link_to "cancel",request.referer, :class => "btn btn-default"%>
</div>

<script type="text/javascript">
	$(document).ready(spud.admin.posts.edit);
</script>
