<%= content_for :data_controls do %>
	<%= link_to "New Post", new_spud_admin_post_path, :class => "btn btn-primary", :title => "New Post" %>
<% end %>

<%=content_for :detail do %>
	<table class="admin-table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Published At</th>
				<th>Comments</th>
				<th>&nbsp;</th>
			</tr>			
		</thead>
		<tbody>
			<% @posts.each do |post| %>
				<tr>
					<td>
						<%= link_to edit_spud_admin_post_path(post) do %>
							<%=post.title%>
							<%if !post.visible%>
								<span class="badge">Draft</span>
							<%end%>
						<%end%>
					</td>
					<td><%= post.author.full_name %></td>
					<td><%= link_to(post.published_at.strftime('%m/%d/%Y'), blog_post_path(post.url_name)) %></td>
					<td><%= post.comments.size %></td>
					<td align="right">
						<%= link_to 'Delete', spud_admin_post_path(post), :method => :delete, :confirm => 'Are you sure you want to delete this post?', :class => 'btn btn-danger' %>
					</td>
				</tr>
			<%end%>
		</tbody>
	</table>
	<div class="spud_admin_pagination">
		<%= will_paginate @posts %>
	</div>
<%end%>
