<%= content_tag :li, :class => 'spud_blog_category_manager_item', 'data-id' => category.id do %>
  <span class="spud_blog_category_manager_item_name">
    <%= category.name %>
  </span>
  <span class="spud_blog_category_manager_item_actions">
    <%= link_to edit_spud_admin_post_category_path(category), :class => 'btn btn-xs btn-link spud_blog_category_edit' do%>
      <span class="glyphicon glyphicon-pencil"></span>
    <%end%>
    <%= link_to spud_admin_post_category_path(category), :class => 'btn btn-xs btn-danger spud_blog_category_delete' do%>
      <span class="glyphicon glyphicon-trash"></span>
    <%end%>
  </span>
  <ul class="spud_blog_category_manager_item_children">
    <% if @post_categories[category.id] %>
      <%= render :partial => 'category', :collection => @post_categories[category.id] %>
    <% end %>
  </ul>
<% end %>