<%= form_for @post_category, :url => (@post_category.new_record? ? spud_admin_post_categories_path : spud_admin_post_category_path(@post_category)), :html => {:class => 'form-horizontal spud_post_category_form'} do |f| %>

	<%= error_messages_for(f.object) %>

	<fieldset>
		<div class="form-group">
			<%= f.label :name,"Name",:class => "control-label col-sm-2" %>
			<div class="col-sm-10">
				<%= f.text_field :name, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= label_tag :parent,'Parent',:class => "control-label col-sm-2" %>
			<div class="col-sm-10">
				<select name="spud_post_category[parent_id]" class="form-control">
					<option value="">No Parent</option>
					<%= options_for_select(SpudPostCategory.options_for_categories(:filter => @post_category.id), @post_category.parent_id) %>
				</select>
			</div>
		</div>
	</fieldset>

<% end %>