<% content_for :title do %>
	News | <%= Spud::Core.site_name %>
<% end %>

<% content_for :head do %>
	<%= spud_news_rss_link %>
<% end %>

<div id="spud_news_filters">
	<%= form_tag news_path, :class => 'spud_blog_filter_form' do %>
		<label>Category:</label>
		<%= spud_post_category_select %>
		<label>Month:</label>
		<%= spud_post_archive_select %>
		<input type="submit" value="Submit" />
	<% end %>
</div>

<div id="spud_news_posts">
	<% if @posts.any? %>
		<% @posts.each do |post| %>
			<div class="spud_news_post">
				<h3><%= link_to post.title, news_post_path(post.url_name) %></h3>
				<h4>Posted by <%= post.author.full_name %> on <%= post.display_date %></h4>
				<div class="spud_news_post_content">
					<%= truncate_html post.content.html_safe, :length => 250 %>
				</div>
			</div>
		<% end %>
	<% else %>
		<p>No posts were found in this category</p>
	<% end %>
</div>

<%= will_paginate @posts %>
