<% content_for :title do %>
	News | <%=current_site_name%>
<% end %>

<% content_for :head do %>
	<%= spud_news_rss_link %>
<% end %>

<div id="spud_news_filters">
	<%= form_tag news_path, :class => 'spud_blog_filter_form' do %>
		<label>Category:</label>
		<%= spud_post_category_select %>
		<label>Month:</label>
		<%= spud_post_archive_select %>
		<input type="submit" value="Submit" />
	<% end %>
</div>

<div id="spud_news_posts">
	<% if @posts.any? %>
		<%= render :partial => "post", :collection => @posts %>
	<% else %>
		<p>No posts were found in this category</p>
	<% end %>
</div>

<%= will_paginate @posts %>
