<%= content_for :data_controls do %>
	<%= link_to "New Post", new_spud_admin_news_post_path, :class => "button", :title => "New Post" %>
<% end %>

<%=content_for :detail do %>
	<table class="admin-table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Published At</th>
				<th>&nbsp;</th>
			</tr>			
		</thead>
		<tbody>
			<% @posts.each do |post| %>
				<tr>
					<td><%= link_to post.title, edit_spud_admin_news_post_path(post) %></td>
					<td><%= post.author.full_name %></td>
					<td><%= post.published_at.strftime('%m/%d/%Y') %></td>
					<td align="right">
						<%= link_to 'Delete', spud_admin_news_post_path(post), :method => :delete, :confirm => 'Are you sure you want to delete this post?', :class => 'spud_admin_button_delete' %>
					</td>
				</tr>
			<%end%>
		</tbody>
	</table>
	<div class="spud_admin_pagination">
		<%= will_paginate @posts %>
	</div>
<%end%>