<%= content_for :data_controls do %>

<% end %>

<%=content_for :detail do %>
  <table class="admin-table table table-responsive">
    <thead>
      <tr>

        <th>Author</th>
        <th>Comment</th>
        <th>Attached To</th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @post_comments.each do |comment| %>
        <tr>
          <td><%= comment.author %></td>
          <td>
            <span class='submitted-on'>Submitted: <%=timestamp(comment.created_at)%></span>
            <%= comment.content %>
          </td>
          <td><%= link_to comment.post.title, blog_post_path(comment.post.url_name)%></td>
          <td>
            <% if comment.spam %>
              Spam
            <% else %>
              Approved
            <% end %>
          </td>
          <td align="right" style="min-width:200px;">
            <%= link_to 'Approve', approve_spud_admin_post_comment_path(comment), :class => 'btn btn-success btn-sm' %>
            <%= link_to 'Spam', spam_spud_admin_post_comment_path(comment), :class => 'btn btn-warning btn-sm' %>
            <%= link_to spud_admin_post_comment_path(comment), :method => :delete, :confirm => 'Are you sure you want to delete this comment?', :class => 'btn btn-danger btn-sm' do%>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <div class="spud_admin_pagination">
    <%= will_paginate @post_comments%>
  </div>


<%end%>
